.view-social-dashboard #edit-source-wrapper {
    float: right;
}

.view-social-dashboard .feed-s-update {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
    max-width: 100%;
}

.view-social-dashboard article {
    position: static;
    visibility: visible;
    display: block;
    min-width: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.view-social-dashboard feed-s-post-meta {
    padding:16px 16px 8px;
}

.view-social-dashboard .actor_picture{
    display: block;
    float: left;
}

.view-social-dashboard .feed-s-avatar-image{
    overflow:hidden;
    display: block;
    float: left;
}

.view-social-dashboard .feed-s-avatar-image img {
    width: 48px;
    height: 48px;
    border:4px solid transparent;
    box-sizing:border-box;
    background-clip:content-box;
    border-radius:6px;
    background-color:#b3b6b9;
}

.view-social-dashboard .feed-s-post-meta__profile-link {
    display: block;
    float: left;
}

.view-social-dashboard .feed-s-update__description {
    position: relative;
    max-height: 54px;
    line-height: 18px;
    margin: 0 16px;
    overflow: hidden;
    display: block;
    float: none;
    clear: both;
}

.view-social-dashboard .feed-s-hero-entity__image-container {
    height: 0;
    padding-top: 52.3%;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    margin: 0;
}

.view-social-dashboard .feed-s-hero-entity__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
}

.view-social-dashboard .feed-s-update__update-content-wrapper {
    clear: both;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    overflow: hidden;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 2px;
    margin-top: 8px;
}

.view-social-dashboard .feed-s-image-description__headline {
    font-size: 15px;
}

.view-social-dashboard .feed-s-image-description__byline {
    font-size: 13px;
}
